.date-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .custom-date-picker {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px;
    font-size: 16px; 
    width: 200px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .date-picker-container button {
    background-color: #767bb2;
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .date-picker-container button:hover {
    background-color: #8cabc2;
  }
  