/* src/components/DailyPage.css */
.daily-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ebebeb; /* Light grey background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.daily-page h1, .daily-page h2 {
  color: #767bb2; /* Dark slate blue */
}

.daily-page h1 {
  text-align: center;
}

.date-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.date-picker {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.daily-page button {
  padding: 10px 20px;
  background-color: #8cabc2; /* Slate blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.daily-page button:hover {
  background-color: #767bb2; /* Dark slate blue */
}

.daily-page section {
  margin-bottom: 40px;
}

.daily-page section p {
  color: #333;
  font-size: 1.1em;
}
