/* src/components/Home.css */

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ebebeb; /* Light grey background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-header {
  background-color: #dde8ee; /* Pale blue background */
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.home-header h1 {
  font-size: 2.5em;
  margin: 0;
  color: #767bb2; /* Dark slate blue */
}

.home-header p {
  font-size: 1.2em;
  color: #666;
  margin-top: 10px;
}

.home-content {
  margin-bottom: 40px;
}

.home-content h2 {
  font-size: 2em;
  color: #767bb2; /* Dark slate blue */
  margin-bottom: 10px;
}

.home-content p, .home-content ul {
  font-size: 1.2em;
  color: #333; /* Darker text color for readability */
}

.home-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.home-content li {
  line-height: 1.6;
  margin-bottom: 10px;
}

.home-facts {
  margin-top: 40px;
}

.home-facts h2 {
  font-size: 2em;
  color: #767bb2; /* Dark slate blue */
  margin-bottom: 20px;
  text-align: center;
}

.fact-box {
  background-color: #b7cede; /* Light slate blue */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.fact-box h3 {
  margin-top: 0;
  color: #767bb2;
}

.fact-box p {
  color: #333;
  font-size: 1.1em;
}
