.mood-form-container {
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #dde8ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.mood-form {
  background-color: #dde8ee;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}

.mood-form-input,
.mood-form-textarea,
.mood-form .react-datepicker-wrapper input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px; 
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.mood-form-input:focus,
.mood-form-textarea:focus,
.mood-form .react-datepicker-wrapper input:focus {
  border-color: #eac0b3; 
  outline: none;
}

.mood-form-textarea {
  resize: vertical; 
  min-height: 100px;
}

.mood-form .react-datepicker-wrapper {
  width: 100%;
  max-width: 400px; 
  margin: 10px 0;
}

.mood-form .react-datepicker-wrapper input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.mood-form .react-datepicker-wrapper input:focus {
  border-color: #eac0b3;
  outline: none;
}

.mood-form-button {
  background-color: #8cabc2; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
  max-width: 140px;
}

.mood-form-button:hover {
  background-color: #767bb2; 
}

.mood-form-select {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px; 
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
  transition: border-color 0.3s;
  box-sizing: border-box;
  appearance: none; 
}

.react-datepicker {
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.react-datepicker__header {
  background-color: #eac0b3;
  border-bottom: 1px solid #eac0b3; 
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border-color: #eac0b3; 
}

.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 5 5;
  width: 6px;
  height: 6px;
  border-color: #fff;
}

.react-datepicker__day {
  color: #333; 
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #eac0b3; 
  color: white; 
}

.react-datepicker__day--today {
  font-weight: bold; 
}
