nav {
  background-color: #767bb2;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1em;
  transition: color 0.3s;
  text-decoration: underline;
}

nav a:hover {
  color: #ddd;
}

nav .logo {
  height: 175px; 
  width: auto;  
  margin-right: 5px;
}

nav span {
  margin-right: 15px;
}

nav button {
  background-color: white;
  border: none;
  color: #767bb2;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: lightcoral;
}
